<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/" method="post">
      <label>question</label>
      <input type="text" name="question" placeholder="enter question" />
      <input type="text" name="correct" placeholder="correct" />
      <input type="text" name="incorrect1" placeholder="incorrect1" />
      <input type="text" name="incorrect2" placeholder="incorrect2" />
      <input type="text" name="incorrect3" placeholder="incorrect3" />
      <input type="submit" name="submit" value="submit" />
    </form>
  </body>
</html>
